<ion-header>
  <ion-toolbar>
    <h4 slot="start">BudgetApp</h4>
    <ion-icon
      class="login-btn"
      name="person-circle-outline"
      slot="end"
    ></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="summary-box">
    <div class="summary-box__text">
      <div class="summary-box__text-income">
        <h5>Teljes bevétel</h5>
        <h6>50</h6>
      </div>
      <div class="summary-box__text-expenditure">
        <h5>Kiadás</h5>
        <h6>20</h6>
      </div>
      <div class="summary-box__text-remnant">
        <h5>Marad</h5>
        <h6>30</h6>
      </div>
    </div>
    <div class="summary-box__img-holder">
      <img src="../../assets/imgs/good-job.png" alt="" />
    </div>
  </div>
  <ion-card>
    <h5>Számlák</h5>
    <div class="record">
      <div class="record__name"><h6>Villany</h6></div>
      <div class="record__value"><h6>7</h6></div>
    </div>
    <div class="record">
      <div class="record__name"><h6>Villany</h6></div>
      <div class="record__value"><h6>7</h6></div>
    </div>
    <div class="record">
      <div class="record__name"><h6>Villany</h6></div>
      <div class="record__value"><h6>7</h6></div>
    </div>
    <div class="record">
      <div class="record__name"></div>
      <div class="record__value"><h6>21</h6></div>
    </div>
  </ion-card>
  <ion-card>
    <h5>Számlák</h5>
    <div class="record">
      <div class="record__name"><h6>Villany</h6></div>
      <div class="record__value"><h6>7</h6></div>
    </div>
    <div class="record">
      <div class="record__name"><h6>Villany</h6></div>
      <div class="record__value"><h6>7</h6></div>
    </div>
    <div class="record">
      <div class="record__name"><h6>Villany</h6></div>
      <div class="record__value"><h6>7</h6></div>
    </div>
    <div class="record">
      <div class="record__name"></div>
      <div class="record__value"><h6>21</h6></div>
    </div>
  </ion-card>
  <ion-card>
    <h5>Számlák</h5>
    <div class="record">
      <div class="record__name"><h6>Villany</h6></div>
      <div class="record__value"><h6>7</h6></div>
    </div>
    <div class="record">
      <div class="record__name"><h6>Villany</h6></div>
      <div class="record__value"><h6>7</h6></div>
    </div>
    <div class="record">
      <div class="record__name"><h6>Villany</h6></div>
      <div class="record__value"><h6>7</h6></div>
    </div>
    <div class="record">
      <div class="record__name"></div>
      <div class="record__value"><h6>21</h6></div>
    </div>
  </ion-card>
</ion-content>
