<ion-content [fullscreen]="true">
  <div class="summary-box">
    <div class="summary-box__text">
      <div class="summary-box__text-income">
        <h5>Teljes bevétel</h5>
        <h6>{{ cardValueService.totalValueNew }}</h6>
      </div>
      <div class="summary-box__text-expenditure">
        <h5>Kiadás</h5>
        <h6>{{ cardValueService.expenditure }}</h6>
      </div>
      <div class="summary-box__text-remnant">
        <h5>Marad</h5>
        <h6>
          {{ cardValueService.totalValueNew - cardValueService.expenditure }}
        </h6>
      </div>
    </div>
    <div class="summary-box__img-holder">
      <img
        *ngIf="(cardValueService.expenditure / cardValueService.totalValueNew) * 100 >= 50"
        src="../../assets/imgs/good-job.png"
        alt=""
      />
      <img
        *ngIf="(cardValueService.expenditure / cardValueService.totalValueNew ) * 100 < 49"
        src="../../assets/imgs/sad.png"
        alt=""
      />
    </div>
  </div>
  <app-item-card></app-item-card>
</ion-content>
