<ion-content [fullscreen]="true">
  <div class="summary-box">
    <div class="summary-box__text">
      <div class="summary-box__text-income">
        <h5>Teljes bevétel</h5>
        <h6>50</h6>
      </div>
      <div class="summary-box__text-expenditure">
        <h5>Kiadás</h5>
        <h6>20</h6>
      </div>
      <div class="summary-box__text-remnant">
        <h5>Marad</h5>
        <h6>30</h6>
      </div>
    </div>
    <div class="summary-box__img-holder">
      <img src="../../assets/imgs/good-job.png" alt="" />
    </div>
  </div>
  <app-item-card></app-item-card>
</ion-content>
