/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "MoniTalic"; //This is what we are going to call
  src: url("./assets/font/Montserrat-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Mon"; //This is what we are going to call
  src: url("./assets/font/Montserrat-VariableFont_wght.ttf");
}

.md body {
  background-color: #4acf9f !important;
}

ion-content {
  font-family: Mon !important;
}

ion-card {
  padding: 10px;
  background-color: white;
  margin: 10px 5px;
  box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
}

ion-tab-bar {
  border: none;
  box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.2);
}

ion-tab-button {
  background-color: white;
}

ion-tab-button:first-child {
  border-right: 1px solid #cfcfcf;
}

.tab-selected {
  background-color: #489b82;
  color: white;
}

h6 {
  font-weight: 400;
}

.summary-box {
  display: flex;
  padding: 10px;
  background-color: #489b82;
  box-shadow: -1px 1px 12px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 12px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 12px -3px rgba(0, 0, 0, 0.75);

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    white-space: nowrap;

    h5 {
      margin-bottom: 5px;
    }

    h6 {
      margin-top: 0;
    }
  }

  &__img-holder {
    display: flex;
    align-items: center;
  }
}

.record {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cecece;
}

.record:last-child {
  border: none;
}

.records-input {
  display: flex;
  border-bottom: 1px solid #cecece;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.records-input:last-child {
  border: none;
}

.circle-button {
  border-radius: 50%;
  font-size: 25px;
  width: 40px;
  height: 40px;
  align-items: center;
  padding: 6px 12px 10px 12px;

  &--add {
    background-color: #489b82;
    color: white;
  }

  &--del {
    background-color: #b94747;
    color: white;
    padding: 6px 14px 10px 14px;
  }
}

.input-label-placement-floating {
  color: #cfcfcf;
}

.btn-primary {
  background-color: white;
  color: #489b82;
  padding: 15px 15px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.records-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    align-items: flex-end;

    h6 {
      color: #ccc;
      margin-right: 10px;
    }

    h5 {
      margin-right: 10px;
    }

    ion-icon {
      margin-bottom: 8px;
    }
  }

  &__right {
    h6 {
      text-decoration: underline;
      color: #ccc;
    }
  }
}

ion-icon {
  font-size: 22px;
}

.login-btn {
  padding: 10px;
  font-size: 26px;
  margin-top: 5px;
}

.calendar {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}
